# Must always set to production
# @see {@link https://www.youtube.com/watch?v=HMM7GJC5E2o}
NODE_ENV=production
# Toggle between production and development logging
PRODUCTION_LOGGING=0
# Server
FASTIFY_PORT=3000
FASTIFY_ADDRESS=0.0.0.0
# CLI options
FASTIFY_CLOSE_GRACE_DELAY=1000

CAN_DROP_DATABASE=0
CAN_SEED_DATABASE=1

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=your_postgres_db_name
POSTGRES_USER=your_postgres_username
POSTGRES_PASSWORD=your_postgres_password

# Security
RATE_LIMIT_MAX=100 # 4 is for tests, increase if you need more
BETTER_AUTH_SECRET=your_better_auth_secret
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
# Send Mail API
POSTMARK_SERVER_TOKEN=your_postmark_server_token
MAIL_FROM_ADDRESS=your_no_reply_email
MAIL_FROM_NAME="Fastify Tasks App"